<p id="notice"><%= notice %></p>

<p>
  <b>Shufflerid:</b>
  <%= @track.shufflerId %>
</p>

<p>
  <b>Title:</b>
  <%= @track.title %>
</p>

<p>
  <b>Order:</b>
  <%= @track.order %>
</p>


<%= link_to 'Edit', edit_track_path(@track) %> |
<%= link_to 'Back', tracks_path %>
